/* ASSET */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* color */
:root {
    /* Primary */
    --primary1 : #1E1E1C;
    --primary2 : #3A3A3B;
    --primary3 : #4E4E4F;
    --primary4 : #626263;
    --primary5 : #767676;

    /* Secondary */
    --secondary1 : #538059;
    --secondary2 : #75997A;
    --secondary3 : #98B39B;
    --secondary4 : #BACCBD;
    --secondary5 : #DDE6DE;

    /* Accent */
    --accent1 : #EF6817;
    --accent2 : #F28645;
    --accent3 : #F5A474;
    --accent4 : #F9C3A2;
    --accent5 : #FCE1D1;

    /* Success */
    --success1 :#006F37;
    --success2 :#338C5F;
    --success3 :#66A987;
    --success4 :#99C5AF;
    --success5 :#CCE2D7;

    /* Warning */
    --warning1 :#F6DE16;
    --warning2 :#F8E545;
    --warning3 :#FAEB73;
    --warning4 :#FBF2A2;

    /* Error */
    --error1:#F92D00;
    --error2:#FA5733;
    --error3:#FB8166;
    --error4:#FDAB99;
    --error5:#FED5CC;

    /* Color Select */
    --background: #1E1E1C;
    --title :#FFFFFF;
    --paragraf :#767676;
    --primary-button :#538059;

    /* PC1*/
    /* font-hero*/
    --hero-font-size1: 2em;
    --hero-font-style1: normal;
    --hero-font-weigth1 : 700;
    --hero-line-heigt1: 130%;
    --hero-letter-spacing1: 0.005em;

    /* font-title */
    --font-size-title1: 38px;

    /* font-service */
    --font-size-title1: 38px;
    --service-font-size1: 20px; 

    /* font-client */
    --client-font-size1: 26px;
    --client-font-weight1: 400;
    --client-line-height1: 140%;
    --review-font-size1: 18px;

    /* font-footer */
    --footer-font-size-title1: 20px;
    --footer-font-size-subtitle1: 18px;
    --made-font-size1: 20px;

    /*TAB2*/
    /* font-hero */
    --hero-font-size2: 42px;
    --hero-font-style2: normal;
    --hero-font-weigth2 : 700;
    --hero-line-heigt2: 54.6px;
    --hero-letter-spacing2: 0.05%;

    /* font-title */
    --font-size-title2: 32px;

    /* font-service */
    --font-size-title2: 24px;
    --service-font-size2: 18px; 

    /* font-client */
    --client-font-size2: 32px;
    --client-font-weight2: 700;
    --client-line-height2: 44.8px;
    --review-font-size2: 24px;

    /* font-footer */
    --footer-font-size-title2: 20px;
    --footer-font-size-subtitle2: 18px;
    --made-font-size2: 20px;

    /*MOBILE3*/
    /* font-hero */
    --hero-font-size2: 24px;
    --hero-font-style2: normal;
    --hero-font-weigth2 : 700;
    --hero-line-heigt2: 33.6px;
    --hero-letter-spacing2: 0.05%;

    /* font-title */
    --font-size-title2: 20px;

    /* font-service */
    --font-size-title2: 18px;
    --service-font-size2: 14px; 

    /* font-client */
    --client-font-size2: 20px;
    --client-font-weight2: 700;
    --client-line-height2: 150%;
    --review-font-size2: 18px;

    /* font-footer */
    --footer-font-size-title2: 20px;
    --footer-font-size-subtitle2: 18px;
    --made-font-size2: 20px;

}   

/* ================================= */
/* CONTENT */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins';
    color: var(--title);
    background-color: var(--background);
    overflow-x: hidden;
}

nav {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    height: 50%;
    padding: 20px;
}

.logo {
    margin: auto;
}

nav ul {
    /* border: 3px solid darkcyan; */
    list-style: none;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

nav ul li a {
    color: var(--paragraf);
    text-decoration: none;
    transition: all 0.50s;
}

nav ul li a:hover {
    color: var(--title);
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    margin: 5px 15px;
}

.menu-toggle span {
    display: block;
    background-color: var(--title);
    width: 38px;
    height: 5px;
    border-radius: 1px;
    transition: all 0.35s;
}


.menu-toggle input {
    position: absolute;
    height: 60px;
    width: 60px;
    cursor: pointer;
    z-index: 0;
    top: 100;
    left: -10;
    opacity: 0;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 100%;
}


.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: var(--secondary1);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: var(--secondary1);
}


.img {
    width: 100%;
}

.container {
    /* border: 3px solid cornflowerblue; */
    margin: 0px 8.1em 0px 8.1em;
    /* max-width: (100% - 20px); */
}

.header {
    /* border: 3px solid var(--warning1); */
    display: grid;
    grid-template-areas: 
    'text image'
    'text image';
}

.item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    /* border: 3px groove red; */
}

.heading {
    font-size: var(--hero-font-size1);
}

.sub-heading {
    font-size: var(--hero-font-size1);
}

.text {
    grid-area: text;
    min-height: 300px;
}

.button {
    display: flex;
    justify-content:flex-start;
}

.button-primary {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--secondary1);
    align-items: center;
    width: 7em;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.button-secondary {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* background-color:var(--warning1); */
    border: 3px solid #538059;
    align-items: center;
    width: 7em;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    cursor: pointer;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.button > a {
    text-decoration: none;
    color: var(--title);
}

.item2 {
    display: grid;
    place-content: center;
}

.image {
    grid-area: image;
    /* border: 3px solid var(--accent1); */
    background-image: url("/asset/img/barang1.png");
    background-position: center;
    background-size: cover;
    min-height: 300px;
    min-width: 500px;
}


/* Break Point Responsive */
/* Large Desktop */
/* @media (max-width: 1200) {
    
} */

/* Tab */
@media (max-width: 768px){
    .logo {
        margin: 10px;
    }

    nav {
        /* background-color: darkcyan; */
    }

    nav ul {
        width: 90%;
    }
    
    .container {
        /* border: 3px solid cornflowerblue; */
        margin: 40px 90px 0px 90px;
    }
    
    .header {
        /* border: 3px solid var(--warning1); */
        display: grid;
        grid-template-areas: 
        'image'
        'text';
    }

    .item1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px;
        /* border: 3px groove red; */
    }

    .heading {
        text-align: center;
        font-size: var(--hero-font-size2);
    }
    
    .sub-heading {
        text-align: center;
        font-size: var(--hero-font-size2);
    }

    .text {
        grid-area: text;
        min-height: 300px;
    }
    
    .button {
        display: flex;
        justify-content: center;
    }
    
    .button-primary {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        background-color: var(--secondary1);
        align-items: center;
        width: 120px;
        padding: 10px;
        margin: 10px 10px 0px 0px;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }
    
    .button-secondary {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        /* background-color:var(--warning1); */
        border: 3px solid #538059;
        align-items: center;
        width: 120px;
        padding: 10px;
        margin: 10px 0px 0px 0px;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        cursor: pointer;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }

       
}

/* mobile */
@media (max-width: 576px){
    nav {
        /* background-color: #006F37; */
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--primary2);
        height: 100vh;
        position: absolute;
        z-index: 1;
        margin: 65px 0px 0px 40px;
        transform: translateX(100%);
        transition: all 0.40s;
        opacity: 0;
    }

    nav ul li a {
        color: var(--title);
        transition: all 0.10s;
    }

    nav ul li a:hover {
        box-sizing: border-box;
        background-color: var(--secondary1);
        padding: 20px;
        border-radius: 8px;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
}