/* ASSET */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* color */
:root {
    /* Primary */
    --primary1 : #1E1E1C;
    --primary2 : #3A3A3B;
    --primary3 : #4E4E4F;
    --primary4 : #626263;
    --primary5 : #767676;
    --primary6: rgba(175, 174, 174, 0.1);

    /* Secondary */
    --secondary1 : #538059;
    --secondary2 : #75997A;
    --secondary3 : #98B39B;
    --secondary4 : #BACCBD;
    --secondary5 : #DDE6DE;

    /* Accent */
    --accent1 : #EF6817;
    --accent2 : #F28645;
    --accent3 : #F5A474;
    --accent4 : #F9C3A2;
    --accent5 : #FCE1D1;

    /* Success */
    --success1 :#006F37;
    --success2 :#338C5F;
    --success3 :#66A987;
    --success4 :#99C5AF;
    --success5 :#CCE2D7;

    /* Warning */
    --warning1 :#F6DE16;
    --warning2 :#F8E545;
    --warning3 :#FAEB73;
    --warning4 :#FBF2A2;

    /* Error */
    --error1:#F92D00;
    --error2:#FA5733;
    --error3:#FB8166;
    --error4:#FDAB99;
    --error5:#FED5CC;

    /* Color Select */
    --background: #1E1E1C;
    --title :#FFFFFF;
    --paragraf :#767676;
    --primary-button :#538059;

    /* PC1*/
    /* font-hero*/
    --hero-font-size1: 2em;
    --hero-font-style1: normal;
    --hero-font-weigth1 : 700;
    --hero-line-heigt1: 130%;
    --hero-letter-spacing1: 0.005em;

    /* font-title */
    --font-size-title1: 2.375em;

    /* font-service */
    --font-size-title1: 2.375em;
    --service-font-size1: 1.25em; 

    /* font-client */
    --client-font-size1: 1.625em;
    --client-font-weight1: 400;
    --client-line-height1: 140%;
    --review-font-size1: 1.125em;

    /* font-footer */
    --footer-font-size-title1: 1.25em;
    --footer-font-size-subtitle1: 1.125em;
    --made-font-size1: 1.25em;

    /*TAB2*/
    /* font-hero */
    --hero-font-size2: 2.8125em;
    --hero-font-style2: normal;
    --hero-font-weigth2 : 700;
    --hero-line-heigt2: 54.6px;
    --hero-letter-spacing2: 0.05%;

    /* font-title */
    --font-size-title2: 2em;

    /* font-service */
    --font-size-title2: 1.5em;
    --service-font-size2: 1.125em; 

    /* font-client */
    --client-font-size2: 32px;
    --client-font-weight2: 700;
    --client-line-height2: 44.8px;
    --review-font-size2: 1.5em;

    /* font-footer */
    --footer-font-size-title2: 1.25em;
    --footer-font-size-subtitle2: 1.125em;
    --made-font-size2: 1.25em;

    /*MOBILE3*/
    /* font-hero */
    --hero-font-size3: 1.8125em;
    --hero-font-style3: normal;
    --hero-font-weigth3 : 700;
    --hero-line-heigt3: 33.6px;
    --hero-letter-spacing3: 0.05%;

    /* font-title */
    --font-size-title3: 1.25em;

    /* font-service */
    --font-size-title3: 1.125em;
    --service-font-size3: 0.875em; 

    /* font-client */
    --client-font-size3: 1.25em;
    --client-font-weight3: 700;
    --client-line-height3: 150%;
    --review-font-size3: 1.125em;

    /* font-footer */
    --footer-font-size-title3: 1.25em;
    --footer-font-size-subtitle3: 1.125em;
    --made-font-size3: 1.25em;

}   

/* ================================= */
/* CONTENT */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding-top: 7rem;
}

body {
    font-family: 'Poppins';
    color: var(--title);
    background-color: var(--background);
    overflow-x: hidden;
}

nav {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 13%;
    padding: 5px;
    z-index: 3;
}

.logo {
    margin: auto;
    width: 180px;
    height: auto;
}

.title-navbar {
    margin: auto;
}

nav ul {
    list-style: none;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

nav ul li a {
    color: var(--title);
    text-decoration: none;
    transition: all 0.50s;
}

nav ul li a:hover {
    color: var(--secondary1);
    font-weight: 300;
}

label{
     display: none;
     justify-content: center;
     align-items: flex-end;
     flex-direction:column;
     width: 70px;
     cursor:pointer;
   }
   
label span{
     background: var(--title);
     height: 4px;
     margin: 6px 0;
     z-index: 2;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
     -webkit-transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
     -moz-transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
     -ms-transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
     -o-transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}
   
   
.check span:nth-of-type(1){
    width:50%;
     
}
   
.check span:nth-of-type(2){
    width:96%;
}
   
   
.check span:nth-of-type(3){
    width:75%;
}

input[type="checkbox"]{
    opacity: 0;
    position: absolute;
    height: 80px;
    width: 80px;
    cursor: pointer;
    z-index: 4;
    top: 0;
    left: -100;
    right: 0;
}
   
   
input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(-14px,20px);
    -webkit-transform:rotatez(45deg) translate(-14px,20px);
    -moz-transform:rotatez(45deg) translate(-14px,20px);
    -ms-transform:rotatez(45deg) translate(-14px,20px);
    -o-transform:rotatez(45deg) translate(-14px,20px);
    background-color: var(--secondary1);
}
   
   
input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg);
    -webkit-transform:rotatez(-45deg);
    -moz-transform:rotatez(-45deg);
    -ms-transform:rotatez(-45deg);
    -o-transform:rotatez(-45deg);
    background-color: var(--secondary1);
}
   
   
input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:55%;
    background-color: var(--secondary1);
    transform: translate(0px,-5px) rotatez(45deg);
    -webkit-transform: translate(0px,-5px) rotatez(45deg);
    -moz-transform: translate(0px,-5px) rotatez(45deg);
    -ms-transform: translate(0px,-5px) rotatez(45deg);
    -o-transform: translate(0px,-5px) rotatez(45deg);
}

/* .menu-toggle {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    margin: 5px 15px;
}

.menu-toggle span {
    display: block;
    background-color: var(--title);
    width: 55px;
    height: 5px;
    border-radius: 1px;
    transition: all 0.35s;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}


.menu-toggle input {
    position: absolute;
    height: 90px;
    width: 90px;
    cursor: pointer;
    z-index: 1;
    top: 100;
    left: -10;
    opacity: 0;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 100%;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: var(--secondary1);
    -webkit-transform: rotate(45deg) translate(-1px, -1px);
    -moz-transform: rotate(45deg) translate(-1px, -1px);
    -ms-transform: rotate(45deg) translate(-1px, -1px);
    -o-transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: var(--secondary1);
    -webkit-transform: rotate(-45deg) translate(-1px, 0);
    -moz-transform: rotate(-45deg) translate(-1px, 0);
    -ms-transform: rotate(-45deg) translate(-1px, 0);
    -o-transform: rotate(-45deg) translate(-1px, 0);
} */

/* Header */
img {
    width: 100%;
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

img:hover {
    box-shadow: 0px 0px 50px -5px rgba(78,78,79,0.75);
    -webkit-box-shadow: 0px 0px 50px -5px rgba(78,78,79,0.75);
    -moz-box-shadow: 0px 0px 50px -5px rgba(78,78,79,0.75);
}

.container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content:space-around;
    width: auto;
    margin: 100px auto;
    /* border: 3px solid cornflowerblue; */
}

.header {
    /* border: 3px solid red; */
    margin: 0 100px auto;
    width: auto;
    display: grid;
    /* gap: 1em; */
    grid-template-areas: 
    'text image'
    'text image';
}

.item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8em;
    /* border: 3px groove red; */
}

.heading {
    font-size: var(--hero-font-size1);
}

.name-company {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    /* font-weight: 500; */
}

.typewriter .sub-heading {
    font-size: var(--font-size-title3);
    font-weight: 100;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--secondary1); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--secondary1); }
  }


.text {
    grid-area: text;
    /* min-height: 300px; */
}

.button {
    display: flex;
    justify-content:flex-start;
}

.button-primary {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--secondary1);
    align-items: center;
    width: 7em;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.button-secondary {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /*background-color:var(--warning1);
    */border: 3px solid #538059;
    align-items: center;
    width: 7em;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    cursor: pointer;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.button-primary:hover {
    box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -webkit-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -moz-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
}

.button-secondary:hover {
    border: 0px;
    background-color: var(--secondary1);
    box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -webkit-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -moz-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
}

.button > a {
    text-decoration: none;
    color: var(--title);
}

.icon-whatsapp {
    font-size: 1.2em;
}


.item2 {
    display: grid;
    place-content: center;
    /* border: 3px solid red; */
}

.image {
    grid-area: image;
    /* border: 3px solid var(--accent1); */
    background-image: url("/asset/img/hero-1.png");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    min-height: 300px;
    min-width: 500px;
}
/* End : header */

/* Service */
.services {
    margin: 100px auto;
    width: auto;
    /* position: relative; */
    text-align: center;
    /* border: 3px solid red; */
}


.title-service {
    font-size: var(--hero-font-size3);
    display: flex;
    justify-content: center;
}


.services-container {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 1em;
}


.service h2 {
    font-size: var(--service-font-size2);
    color: var(--title);
    /* border: 3px solid red; */
}

.service, .service-paragraf{
    font-size: var(--service-font-size2);
    /*border: 3px solid red;
    */color: var(--title);
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.service .service-paragraf:hover {
    color: var(--secondary1);
}
/* End : service */

/* Gallery */
.gallery-container {
   margin: 100px auto;
}


.title-gallery {
    font-size: var(--hero-font-size3);
    display: flex;
    justify-content: center;
}


.img-container {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    flex-direction: column;
    margin: 50px;
    padding: 10px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    align-items: center;
}

/*WRAPPER */
.hoverwrap {
    position: relative;
    max-width: 500px;
  }
  
  .hoverwrap img { width: 100%; }
  .hovercap {
    box-sizing: border-box;
    width: 100%;
    padding: 1px;
    position: absolute;
    bottom: 0; left: 0; top: 1;
    margin-bottom: 0.43rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .hovercap {
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
  }
  
  .hoverwrap:hover .hovercap {
    visibility: visible; opacity: 1;
  }

  .hovercap .title-hovercap {
    font-weight: 900;
  }

.link-gallery {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-decoration: none;
    color: var(--title);
    margin: 1em auto;
    transition:all 0.50s;
    -webkit-transition:all 0.50s;
    -moz-transition:all 0.50s;
    -ms-transition:all 0.50s;
    -o-transition:all 0.50s;
}

.link-gallery:hover {
    color: var(--secondary1);
}

.link-selengkapnya {
    display: flex;
    font-size: 1.1em;
    text-align: center;
    align-items: center;
    margin: 1em auto;
}

/* End Gallery */

/* Client */
.container-client {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid red; */
}

.title-client {
    font-size: var(--hero-font-size3);
    display: flex;
    justify-content: center;
    /* border: 3px solid gold; */
}

.client {
    position: relative;
    max-width: 900px;
    width: 100%;
    /* background-color: var(--secondary1); */
    padding: 4em 0px;
    overflow: hidden;
    margin: auto;
}

.client .img-client {
    height: 200px;
    width: 200px;
    padding: 10px;
    object-fit: cover;
    border-radius: 70%;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    -ms-border-radius: 70%;
    -o-border-radius: 70%;
}

.client .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    margin: auto;
}

.slide p{
    padding: 0 100px;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
}

.slide .quote-icon{
    font-size: 30px;
    color: var(--secondary3);
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.details .name {
    font-size: 1em;
    font-weight: 600;
}

.details .job {
    font-size: 12px;
    font-weight: 300;
    color: var(--secondary2);
}
/* End client  */

/* Swipper btn */
.nav-btn {
    height: 40px;
    width: 40px;
    background-color: var(--primary2);
    padding: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.nav-btn:hover {
    background-color: var(--secondary1);
    box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -webkit-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -moz-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: var(--title);
}

.swiper-pagination {
    margin-top: 20px;   
}


/* Sosial Media */
.container-socialmedia {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.socialmedia-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.3em;
    font-size: var(--client-font-size1);
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-item {
    text-decoration: none;
    color: var(--title);
    margin: 18px;
}

.sm-item {
    display: flex;
    justify-content: center;
    /* border: 3px solid var(--secondary1); */
    background-color: var(--primary2);
    padding: 20px;
    margin: 20px;
    font-size: 3em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.sm-item:hover {
    background-color: var(--secondary1);
    box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -webkit-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -moz-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
}
/* End Sosial Media */

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    margin: 150px 150px auto;
    width: auto;
    /* padding: 10px; */
}

.footer-heading {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.item-footer {
    /* display: flex; */
    justify-content:space-around;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    padding: 30px;
}

.container-icon {
    display: flex;
}

.title-footer {
    font-size: var(--footer-font-size-title1);
}

.footer-icon {
    background-color: var(--primary2);
    padding: 5px;
    color: var(--title);
    margin: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.footer-icon:hover {
    background-color: var(--secondary1);
    box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -webkit-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
    -moz-box-shadow: 0px 0px 50px -5px rgba(58,58,59,0.75);
}

.alamat {
    font-size: var(--footer-font-size-title1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content:space-around;
    text-align: justify;
}


footer a {
    text-decoration: none;
    color: var(--title);
    text-align: justify;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}

footer a:hover {
    color: var(--secondary1);
}

.developer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1em;
    margin: 20px;
}

.icon-heart {
    color: var(--secondary1);
    font-size: 21px;
    margin: 2px;
    transition: all 0.50s;
    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -ms-transition: all 0.50s;
    -o-transition: all 0.50s;
}

.icon-heart:hover {
    color: var(--error2);
}

.developer a {
    color: var(--title);
}

.mount {
    position: absolute;
    top: 190em;
    bottom: 0;
    z-index: -1;
}
/* End Footer */

/* Break Point Responsive */
/* Large Desktop */
/* @media (max-width: 1200) {
    
} */

/* Tab */
@media (max-width: 768px){
    .logo {
        margin: 10px;
    }

    nav {
        /* background-color: darkcyan; */
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--primary1);
        height: 80vh;
        width: 100%;
        position: absolute;
        z-index: 2;
        margin: auto;
        opacity: 0;
        padding: 0px;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all 0.40s;
        -webkit-transition: all 0.40s;
        -moz-transition: all 0.40s;
        -ms-transition: all 0.40s;
        -o-transition: all 0.40s;
        border-radius: 3%;
        -webkit-border-radius: 3%;
        -moz-border-radius: 3%;
        -ms-border-radius: 3%;
        -o-border-radius: 3%;
    }

    nav ul li a {
        color: var(--title);
        transition: all 0.10s;
    }

    nav ul li a:hover {
        box-sizing: border-box;
    }

    label{
        display: flex;
      }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    
    .container {
        margin: 40px 90px 0px 90px;
    }
    
    .header {
        display: grid;
        grid-template-areas: 
        'image'
        'text';
    }

    .item1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }

    .heading {
        text-align: center;
        font-size: var(--hero-font-size1);
    }
    
    .sub-heading {
        text-align: center;
        font-size: var(--hero-font-size1);
    }

    .text {
        grid-area: text;
        min-height: 15em;
    }
    
    .button {
        display: flex;
        justify-content: center;
    }
    
    .button-primary {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        background-color: var(--secondary1);
        align-items: center;
        width: 120px;
        padding: 10px;
        margin: 10px 10px 0px 0px;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }
    
    .button-secondary {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        border: 3px solid #538059;
        align-items: center;
        width: 120px;
        padding: 10px;
        margin: 10px 0px 0px 0px;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        cursor: pointer;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }

    .link-item {
        font-size: 1.1em;
        margin: 12px;
    }

    .sm-item {
        padding: 10px;
    }
}

/* mobile */
@media (max-width: 576px){
    nav {
        /* background-color: #006F37; */
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--primary1);
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 2;
        margin: auto;
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transition: all 0.40s;
        -webkit-transition: all 0.40s;
        -moz-transition: all 0.40s;
        -ms-transition: all 0.40s;
        -o-transition: all 0.40s;
    }

    nav ul li a {
        color: var(--title);
        transition: all 0.10s;
    }

    nav ul li a:hover {
        box-sizing: border-box;
    }

    label{
        display: flex;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .header {
        width: auto;
        display: grid;
        grid-template-areas: 
        'text'
        'image';
    }

    .heading {
        text-align: center;
        font-size: var(--hero-font-size3);
    }
    
    .sub-heading {
        text-align: center;
        font-size: var(--hero-font-size3);
    }

    .button-primary {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        background-color: var(--secondary1);
        align-items: center;
        width: 80px;
        padding: 10px;
        margin: 10px 10px 0px 0px;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }
    
    .button-secondary {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        border: 3px solid #538059;
        align-items: center;
        width: 80px;
        padding: 10px;
        margin: 10px 0px 0px 0px;
        font-size: 20px;
        cursor: pointer;
        height: 50px;
        cursor: pointer;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
        }

        /* .button-secondary, a {
            display: none;
        } */

        .icon-whatsapp {
            display: none;
            font-size: 1em;
        }

        /* Service */
        .services {
            width: auto;
            position: relative;
            text-align: center;
        }

        .title-service {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1.5em;
            text-align: center;
            font-size: var(--hero-font-size3);
        }

        .nav-btn {
            display: none;
            visibility: hidden;
        }

        .client .slide {
            row-gap: 20px;
        }

        .swiper-pagination {
            margin: 30px auto;
        }

        .social-media {
            flex-direction: column;
        }

        .link-item {
            font-size: 1em;
            margin: 1px;
        }

        .sm-item {
            padding: 8px;
        }

        .footer-heading {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: auto;
            /* align-items: center; */
        }

        .item-footer {
            justify-content: flex-end;
            /* margin: 5px; */
            width: 100%;
            /* align-items: flex-start; */
            /* text-align: center; */
            padding: 5px;
            display: flex;
            flex-direction: column;
        }

        .mount {
            position: absolute;
            top: 30em;
            bottom: 0;
            z-index: -1;
        }
        
    }